* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #eaeaea;
  background: #121215;
}

nav {
  padding: 6.4rem;
}

.memory {
  text-decoration: none;

  margin-bottom: 6.4rem;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.memory small {
  font-size: 1.2rem;
  color: #bebebf;
}

.memory h1 {
  font-size: 3.2rem;
  color: #eaeaea;
}

.memory img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 0.8rem;
}

.memory p {
  font-size: 1.8rem;
  color: #bebebf;
  line-height: 2.8rem;
}
